name: Generate Custom Snake

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: naineshbhagat902-lgtm
          outputs: |
            dist/custom-path/snake-animation.svg

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: snake-assets
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
